.header__nav-container {
  display: grid;
  grid-template-areas:
    "main logo catalog socials socials";
  align-items: start;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .header__nav-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "logo"
    "main"
    "catalog"
    "contact"
    "socials";
    justify-items: center;
    gap: 12px;
  }
}

