.footer__policy_type_mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .footer__policy_type_mobile {
    display: block;
    margin: 40px 0 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .footer__policy_type_mobile {
    margin: 40px auto 0;
  }
}
