.footer {
 background-image: url('../../images/cockies-footer.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 display: grid;
 flex-wrap: wrap;
 align-items: center;
 box-sizing: border-box;
 min-height: 617px;
 margin: 140px auto 0;
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 120px auto 0;
   }
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 100px auto 0;
   }
}
