.rent__info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 0 130px;
}

/* @media screen and (max-width: 1279px) {
  .rent__info {
    justify-content: center;
  }
} */

@media screen and (max-width: 980px) {
  .rent__info {
    margin: 0 auto;
    align-items: center;
  }
}
