.benefit {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 740px;
  background-image: url('../../images/cockie-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .benefit {
    min-height: 560px;
  }
}
