.popup__input_type_error {
  border: 2px solid #B30011;
  background-color: #F5E1DB;
}

.popup__input_type_text {
  min-height: 150px;
}

.form__input_el_extra_options {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

