.guide__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .guide__info {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .guide__info {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .guide__info {
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-top: 50px;
  }
}
