.guarantee__section-title {
  margin: 0 0 24px;
  text-align: center;
  color: var(--color-light);
}

@media screen and (max-width: 1200px) {
  .guarantee__section-title {
    font-size: 32px;
    margin: 40px 0 12px;
  }
}
