.benefit__title {
  color: var(--color-dark);
  margin: 0 0 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .benefit__title {

  }
}

@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 32px;
  }
}
