.guarantee__info {
  margin: 0 32px 0 0;
  padding: 0;
  position: relative;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .guarantee__info {
    margin: 0 auto;
  }
}
