.popup__select {
  appearance: none;
  border-radius: 20px;
  padding: 16px 24px 16px 24px;
  width: 100%;
  border-color: #aaa;
  margin: 10px 0 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.popup__select-label {
  margin: 0 0 8px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFCF9;
}


