.header__section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  padding: 0;
  margin: 46px 0 35px;
}

@media screen and (max-width: 767px) {
  .header__section-title {
    margin: 0;
    font-size: 26px;
  }
}
