.header__link {
  color: var(--color-light);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 980px) {
  .header__link {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}
