.choose-home__item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
  margin: 0;
  padding: 24px 0 0;
}

@media screen and (max-width: 540px) {
  .choose-home__item-title {
    font-size: 16px;
    padding: 12px 0 0;
  }
}
