{% extends "base.html" %}
{% load static %}
{% block title %}Каталог{% endblock title %}
{% block keywords %}кондитерские изделия, оптом, конфеты, печенье, торты{% endblock keywords %}
{% block description %}На кондитерском производстве Кубанская кормилица вы можете приобрести по оптовым ценам
такие изделия, как конфеты, печенье, пряники, сушки, слойки и батончики{% endblock description %}
{% block content %}
<main class="content">
  <section class="category">
    <nav class="breadcrumbs">
      <a href="{% url 'katalog' %}" class="breadcrumbs__link">Каталог</a>
      <span class="breadcrumbs__arrow_active"></span>
      <a href="" class="breadcrumbs__link breadcrumbs__link_active">{{category.title}}</a>
    </nav>
    <h1 class="section__title">{{category.title}}</h1>
    <ul class="table">
      {%for i in page_obj%}
      <li class="table__item-container">
        <a class="table__link" href="{% url 'product' i.id %}">
          <div class="table__item">
              <img class="table__image" src= {{i.photo.url}} alt={{i.title}}>
              <p class="table__text">{{i.title}}</p>
          </div>
        </a>
        <!-- {{i.packaging}}
        {{i.weight}}
        {{i.expiration_date}}
        {{i.quantity_a}} -->
      </li>
      {% endfor %}
    </ul>
  {% include 'paginator.html' %}
  </section>
</main>
<script type="module" src="{%static './scripts/index.js' %}"></script>
{% endblock content %}
