{% extends "base.html" %}
{% load static %}
{% block title %}Сотрудничество{% endblock title %}
{% block keywords %}кондитерские изделия, оптом, конфеты, печенье, торты{% endblock keywords %}
{% block description %}Мы предлагаем вам оставить свои контакты, чтобы наш
менеджер связался с вами, и вы смогли приобрести кондитерские изделия по оптовым ценам
на выгодных условиях{% endblock description %}
{% block content %}
<main class="content">
  <section class="cooperation">
    {% if form.errors %}
      {% for field in form %} <!-- вывод ошибок для каждого поля, если они есть-->
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          {{ error|escape }}
      {% endfor %}
      {% endif %}
                    {%if flag %}
                      <p class="text cooperation__confirm">Спасибо! Ваша заявка сохранена!</p>
                    {%endif%}

    <h1 class="section-title cooperation__section-title">cотрудничество</h1>
    <p class="text cooperation__subtitle">
      Мы предлагаем качественные кондитерские изделия и долгосрочное взаимовыгодное сотрудничество.
    </p>
    <div class="cooperation__container">
      <p class="text cooperation__description">
        Мы сотрудничаем со всей Россией, Китаем, Грузией, Абхазией, Казахстаном и предлагаем нашим потенциальным
        партнёрам — региональным торговым сетям или крупным оптовым компаниям, ознакомиться с ассортиментом продукции.
      </p>
      <img class="guarantee__image" src="{% static './images/map.webp' %}" alt="круассаны">
    </div>
    <div class="cooperation__info">
      <p class="text cooperation__text">
        По условиям поставок свяжитесь любым удобным для вас способом или отправьте заявку, наш менеджер свяжется
        с вами для уточнения деталей и предложит варианты сотрудничества.
      </p>
      <a href="#cooperation" class="btn btn-light button_type_contact cooperation__button">Отправить заявку</a>
    </div>
  </section>
  <section class="popup" id="cooperation">
    <div class="popup__container">
      <img class="popup__logo" src="{% static './images/logo.svg' %}" alt="">
      <h2 class="popup__title">Станьте нашими партнёрами</h2>
      <p class="popup__subtitle">Оставьте свои контактные данные и мы вам перезвоним</p>
      <form
        name="contact_form"
        method="post"
        class="form popup__form"
        name="card-information"
        novalidate
      >
        {% csrf_token %}
        <div class="">
          <div>
            {{form.first_name}} <!--Имя-->
            <span class="popup__error {{form.first_name.name}}-error"></span>
          </div>
          <div>
            {{form.phone_number}}<!--Номер телефона-->
            <span class="popup__error {{form.phone_number.name}}-error"></span>
          </div>
          <div>
            {{form.e_mail}}<!--Электронная почта-->
            <span class="popup__error {{form.e_mail.name}}-error"></span>
          </div>
          <div>
            {{form.region}}<!--Регион-->
          </div>
          <div class="popup__select-wrapper popup__select_type_chanel">
            <label class="popup__select-label" for="id_sales_channel">Канал продаж</label>
            {{form.sales_channel}}<!--Канал продаж-->
          </div>
          <div class="popup__select-wrapper popup__select-wrapper_type_tax">
            <label class="popup__select-label" for="id_nalog">Налог</label>
            {{form.nalog}}<!--Налог-->
          </div>
          <div>
            {{form.text}}<!--Сообщение-->
          </div>
          <p class="text popup__reminder"> *поля обязательные к заполнению </p>
          <div class="option-template-container">
            <label for="id_rules" class="service-form__label">
              {{ form.rules }}
              <span class="form__pseudo-item form__pseudo-item_type_radio"></span>
              <p class="service-form__label-text">Я принимаю условия <a class="popup__link" target="_blank" href="{% url 'agreement' %}">пользовательского соглашения</a></p>
            </label>
            <span class="popup__error {{form.rules.name}}-error"></span>
          </div>
        </div>
          <button
          class="btn btn-light popup__button"
          type="submit"
          title="Сохранить">
          Отправить
        </button>
      </form>
    </div>
  </section>
</main>
{% endblock content %}
{% block script %}
  <script defer src="{% static 'scripts/cooperation.js' %}"></script>
{% endblock script %}
