{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <title>{% block title %}Index{% endblock title %}</title>
</head>
<div class="contact">
  <h2 class="contact__title">Напишите нам, если у вас есть вопросы</h2>
  {% if form.errors %}
          {% for field in form %} <!-- вывод ошибок для каждого поля, если они есть-->
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              {{ error|escape }}
          {% endfor %}
        {% endif %}
  <form name="contact_form" method="post" class='form contact__form' action='{% url 'success' %}' novalidate style="margin: 40px auto;">
    {% csrf_token %}
    <div class='contact__container'>
      {{form.first_name}} <!--Имя-->
      <span class="form__input-error {{form.first_name.name}}-error"></span>
      {{form.legal_entity}} <!--Юридическое лицо-->
      <span class="form__input-error {{form.legal_entity.name}}-error"></span>
      {{form.inn}} <!--ИНН-->
      <span class="form__input-error {{form.inn.name}}-error"></span>
      {{form.phone_number}}<!--Номер телефона-->
      <span class="form__input-error {{form.phone_number.name}}-error"></span>
      {{form.e_mail}}<!--Электронная почта-->
      <span class="form__input-error {{form.e_mail.name}}-error"></span>
      {{form.region}}<!--Регион-->
      <span class="form__input-error {{form.region.name}}-error"></span>
      <div class="form__select-wrapper">
        <label class="form__select-label" for="id_sales_channel">Канал продаж</label>
        {{form.sales_channel}}<!--Канал продаж-->
      </div>
      <div class="form__select-wrapper">
        <label class="form__select-label" for="id_nalog">Налог</label>
        {{form.nalog}}<!--Налог-->
      </div>
      <div class="form__select-wrapper">
        <label class="form__select-label" for="id_theme">Тема обращения</label>
        {{form.theme}}<!--Тема сообщения-->
      </div>
      {{form.text}}<!--Сообщение-->
      <span class="form__input-error {{form.text.name}}-error"></span>
      <label for="id_rules" class="contact__label">
        {{ form.rules }}
        Я принимаю условия пользовательского соглашения
      </label>
      <span class="form__input-error {{form.rules.name}}-error"></span>
    </div>
      <button class="form__submit" type="submit">Отправить</button>
  </form>
</div>
<script type="module" src="{% static 'scripts/index.js' %}"></script>
{% endblock content %}
