.footer__column_content_copyright {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .footer__column_content_copyright {
    grid-column: 1 / span 2;
    flex-basis: auto;
    justify-self: center;
  }
}

@media screen and (max-width: 780px) {
  .footer__column_content_contacts {
    margin-top: 40px;
  }
}

