.footer__contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #FFFCF9;
  padding: 4px 0 0;
}

@media screen and (max-width: 700px) {
  .footer__contact-link {
    font-size: 20px;
  }
}
