.footer {
 background-image: url('../../images/cockies-footer.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 display: grid;
 flex-wrap: wrap;
 align-items: center;
 box-sizing: border-box;
 min-height: 617px;
 margin: 140px auto 0;
}

