.cooperation__button {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 24px auto 0;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .cooperation__button {
    margin: 20px auto 0;
    align-self: center;
  }
}

@media screen and (max-width: 379px) {
  .cooperation__button {
    min-width: 80%;
  }
}
