.root {
  font-family: Alice, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #0C0500;
  overflow-x: hidden;
  position: relative;
}

:root {
  --color-gold: #D8B067;
  --color-light: #FFFCF9;
  --color-dark: #201313;
  --title-font: Forum, serif;
  --width-max: 1180px;
}
