.link {
  text-decoration: none;
  color: #fff;
  transition: all .4s ease-in-out;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-self: baseline;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}
