.privacy {
  max-width: var(--width-max);
  margin: 80px auto;
}
.privacy__title {
  text-align: center;
}

.privacy__subtitle {
  display: inline;
}
.privacy__list {
  counter-reset: item;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.privacy__marker-list {
  padding: 0;
  margin: 0;
}

.privacy__marker-item {}

.privacy__item {
  color: var(--color-light);
  display: block;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.2;
}

.privacy__marker-item {
  margin: 10px 0;
}

.privacy__item:last-child,
.privacy__marker-item:last-child {
  margin: 0;
}

.privacy__item:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}


@media screen and (max-width: 1160px) {
  .privacy {
    margin: 60px 30px;
  }
}

@media screen and (max-width: 700px) {
  .privacy__title {
    font-size: 32px;
  }
  .privacy__item {
    font-size: 14px;
  }
}
