.popup__container {
  padding: 50px 80px 80px;
  max-width: 646px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  background: var(--color-dark);
  border: 2px solid var(--color-gold);
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 90%;
    padding: 25px 15px;
  }
}
