{% load static %}
<footer class="footer" id="contacts">
  <div class="footer__columns">
    <div class="footer__column footer__column_content_copyright">
      <a href="{% url 'index' %}" class="footer__column-link">
        <img src="{% static './images/logo.svg' %}" alt="Логотип компании" class="footer__logo">
      </a>
      <a href="{% url 'privacy' %}" class="link footer__policy footer__policy_type_desktop">Политика конфиденциальности</a>
    </div>
    <nav class="footer__column footer__column_content_houses">
      <ul class="footer__column-links">
        <li>
          <a href="{% url 'index' %}#products" class="footer__column-link link">Продукция</a>
        </li>
        <li>
          <a href="{% url 'contacts' %}" class="footer__column-link link">Сотрудничество</a>
        </li>
        <li>
          <a href="{% url 'index' %}#contacts" class="footer__column-link link">Контакты</a>
        </li>
        <li>
          <a href="{% url 'katalog' %}" class="footer__column-link link" title="Каталог продукции">Каталог продукции</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__column footer__column_content_contacts">
      <ul class="footer__column-links">
        <li class="footer__link-container">
          Телефон:
          <a href="tel:88005553535" class="footer__contact-link link" target="_blank">8-800-555-35-35</a>
        </li>
        <li class="footer__link-container">Почта:
          <a href="mailto:email@yandex.ru?subject=Сообщение с сайта" class="footer__contact-link link" target="_blank">email@yandex.ru</a>
        </li>
      </ul>
      <nav class="footer__social-icons-container">
        <ul class="footer__social-icons">
          <li class="footer__social-icon">
            <a href="https://wa.me/qr/6FKWRRJBMQFMF1" class="footer__column-link" target="_blank">
              <img src="{%static './images/whatsapp-icon.svg'%}" alt="WhatsApp">
            </a>
          </li>
          <li class="footer__social-icon">
            <a href="https://t.me/+79107896111" class="footer__column-link" target="_blank">
              <img src="{%static './images/telegram-icon.svg'%}" alt="Telegram">
            </a>
          </li>
          <li class="footer__social-icon">
            <a href="https://viber.click/79107896111" class="footer__column-link" target="_blank">
              <img src="{%static './images/viber-icon.svg'%}" alt="Viber">
            </a>
          </li>
        </ul>
      </nav>
      <a href="{% url 'privacy' %}" class="link footer__policy footer__policy_type_mobile">Политика конфиденциальности</a>
    </nav>
  </div>
</footer>
