{% load static %}
<header class="header" id="header">
  <a href="/">
    <img src="{%static './images/logo.svg'%}" alt="Логотип" class="header__logo_type_mobile">
  </a>
  <button class="menu-burger">
    <span class="menu-burger__item"></span>
    <span class="menu-burger__item"></span>
    <span class="menu-burger__item"></span>
    <span class="menu-burger__item"></span>
  </button>
  <div class="header__nav">
    <nav class="header__nav-container">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="{% url 'index' %}#products" class="link header__link" title="Продукция">Продукция</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'contacts' %}" class="link header__link" title="Сотрудничество">Сотрудничество</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'index' %}#contacts" class="link header__link" title="Контакты">Контакты</a>
        </li>
      </ul>
      <a href="{% url 'index' %}">
        <img src="{%static './images/logo.svg'%}" alt="Логотип" class="header__logo">
      </a>
      <a href="{% url 'katalog' %}" class="link header__link" title="Каталог продукции">Каталог продукции</a>
      <a href="{% url 'contacts' %}" type="button" class="btn btn-light header__btn">Связаться с нами</a>
      <ul class="header__socials">
        <li class="header__socials-item">
          <a href="https://t.me/+79107896111" class="header__link" target="_blank" title="Telegram">
            <img src="{%static './images/telegram-icon.svg'%}" class="header__socials-icon" alt="Telegram">
          </a>
        </li>
        <li class="header__socials-item">
          <a href="https://wa.me/qr/6FKWRRJBMQFMF1" class="header__link" target="_blank" title="WhatsApp">
            <img src="{%static './images/whatsapp-icon.svg'%}" class="header__socials-icon" alt="WhatsApp">
          </a>
        </li>
        <li class="header__socials-item">
          <a href="https://viber.click/79107896111" class="header__link" target="_blank" title="Viber">
            <img src="{%static './images/viber-icon.svg'%}" class="header__socials-icon" alt="Viber">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
