.header__logo {
  margin: 0;
  grid-area: logo;
}

.header__catalog {
  grid-area: catalog;
  display: inline-block;
}

@media screen and (max-width: 980px) {
  .header__logo {
    width: 142px;
    margin: 0 0 40px 0;
  }

  .header__catalog {
    text-align: center;
    margin-top: 12px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 120px;
  }
}
