.popup__select-wrapper {
  position: relative;
}

.popup__select-wrapper::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../../images/select-icon.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  bottom: 40%;
  pointer-events: none;
}


