.contact__title {
  margin: 34px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact__title {
    font-size: 18px;
    margin: 0 0 62px;
  }
}
