.contact__title {
  margin: 34px 0;
  font-style: normal;
  font-weight: 900;
<<<<<<< HEAD
  font-size: 24px;
=======
  font-size: 24px;
>>>>>>> b0b17b65d853de15bf6c9f7cf8ca9c0a78b3321e
  line-height: 1.21;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact__title {
    font-size: 18px;
    margin: 0 0 62px;
  }
}
